<h1 class="text-center">Thông tin</h1>
<h3 class="text-center">Bookman là một công ty nhà sách tư nhân hiện đại.<br /> Tính đến năm 2020 Bookman đã có hơn chuỗi hơn 1000 cửa hàng trên toàn quốc.</h3>
<div style="padding-left:100px">
    <ul>
        <li>
            <b>Loại công ty</b>: Công ty tư nhân thuộc tập đoàn TP Group
            <br />
        </li>
        <li>
            <b>Thành lập</b>: 21/9/2010 (11 năm)
            <br />
        </li>
        <li>
            <b>Trụ sở</b>: tòa nhà MPlaza số 39 Lê Duẩn, quận 1, tpHCM
            <br />
        </li>
        <li>
            <b>Nhà sáng lập</b>: .......
            <br />
        </li>
        <li>
            <b>Giám đốc điều hành</b> :....
            <br />

        </li>
        <li>
            <b>Ngành nghề</b>: Dịch vụ
            <br />
        </li>
        <li>
            <b>Lĩnh vực</b>: Thương mại điện tử
            <br />
        </li>
        <li>
            <b>Website</b>: ( gắn link)
            <br />
        </li>
    </ul>
    Với mạng lưới thanh toán và logistics hiện đại nhất trong nước, Bookman đã trở thành một phần không thể thiếu trong đời sống hàng ngày của người tiêu dùng tại Việt Nam.  Tới năm 2030, mục tiêu của Book là sẽ phục vụ cho 300 triệu khách hàng trên toàn Đông Nam Á.
    Vào tháng 7 năm 2017, Bookman tuyên bố đây là nền tảng thương mại điện tử hàng đầu ở Việt Nam hơn 30 triệu người dùng hoạt động mỗi năm.<br />
    -    <ins>>Liên hệ<br /></ins>
    + Tổng đài hỗ trợ (miễn phí cuộc gọi):<br />
    <i>
        . Gọi mua: 1900 8282<br />
        . Khiếu nại: 1900 0909<br />
        . Bảo hành: 1900 6267<br />
    </i>
</div>
